/* <header class="header">
  <img src="/images/matt-tpt.jpg" />
  <a class="brand" href="/">{{ site.name }}</a>
  <ul class="nav  nav--stacked" role="navigation">
    <li><a href="/">UX Designer</a></li>
    <li><a href="/trumpet/">Trumpet Player</a></li>
  </ul>

  <ul class="nav  nav--stacked">
    <li><a href="https://twitter.com/mnokeefe">Twitter</a></li>
    <li><a href="mailto:matt@mattokeefe.co.uk">Email</a></li>
    <li><a href="http://uk.linkedin.com/in/mnokeefe">LinkedIn</a></li>
  </ul>
</header> */

.header {
  @include respond-to(handhelds) {
    margin: 0 auto;
    padding: 0 $base-line-height 0 $base-line-height;
    width: 100%;
    background: $black;
    height: 160px;
    img {
      float: left;
      padding-right: $base-line-height;
    }
  }
  @include respond-to(medium-screens) {
    margin: 0 auto;
    padding: 0 $base-line-height*2 0 $base-line-height*2;
    width: 100%;
    background: $black;
    height: 160px;
    img {
      float: left;
      padding-right: $base-line-height;
    }
  }
  @include respond-to(wide-screens) {
    margin-left: -160px;
    padding-top: $base-line-height*4;
    position: fixed;
    text-align: right;
    top: 0;
    width: 160px;
    z-index: 1;
  }
}

.me {
  color: $white;
  font-weight: 700;
  font-size: 20px;
  @include respond-to(wide-screens) {
    color: $black;
  }
}

// Slight changes to inuit nav abstraction to throw it in to horizontal on smaller screen sizes

.nav {
  list-style: none;
  margin-left: 0;
  a {
    color: $white;
  }
  a:hover {
    color: $red;
    text-decoration: underline;
  }

  @include respond-to(wide-screens) {
    a {
      color: $colour-highlight;
    }
  }

  > li{
      &,
      > a{
          display:inline-block;
         *display:inline;
          zoom:1;
      }
  }
}
@include respond-to(wide-screens) {
  .nav--stacked {  
    > li {
        display:list-item;

        > a {
            display:block;
        }
    }
  }
}