html {
  background: $white;
  color: $black;
  @include respond-to(wide-screens) {
    border-top: $base-line-height/2 solid $blue-dark;
  }
}

body {
  font-weight: 400;
  @include respond-to(wide-screens) {
    margin: 0 auto;
    padding: 0 0 0 75px;
    max-width: 702px;
    min-width: 240px;
    position: relative;
  }
}

// Content area

.content {
  a {
    border-bottom: dotted 1px $red;
    color: $red;
  }
  a:hover {
    background: $red;
    color: $white;
  }
  @include respond-to(handhelds) {
    padding: $base-line-height;
    width: 100%;
  }
  @include respond-to(medium-screens) {
    margin: 0 auto;
    max-width: 702px;
    padding: $base-line-height*2;
    width: 100%;
  }
  @include respond-to(wide-screens) {
    padding: $base-line-height*3.5 0 0 $base-line-height*2;
    width: 702px;
  }
}