// Client area

.projects {
  margin-bottom: $base-line-height;
}

@mixin media--project--dark {
  p, h3, a {
    color: $white;
  }
}

@mixin media--project--light {
  a {
    color: $black;
  }
}

.media--project {
  margin: 0;
  padding: $base-line-height;
}

.media--project--lions {
  background: #b21f24;
  @include media--project--dark;
}

.media--project--fullers {
  background: #f5ede0;
  @include media--project--light;
}

.media--project--hippobag {
  background: #E6E6E6;
  @include media--project--light;
}
.media--project--royalmint {
  background: #2F2F2F;
  @include media--project--dark;
}
.media--project--visitwales {
  background: #7CB1AE;
  @include media--project--dark;
}

// Client list only

.client-list {
  margin-left: 0;
}