<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,800,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.min.css">
    <meta name="description" content="Home of Cardiff UX designer and trumpet player Matt O'Keefe">
  </head>
  <body>
    <header class="header">
      <img src="/images/matt-tpt.jpg" />
      <a class="me" href="/">{{ site.name }}</a>

      <ul class="nav  nav--stacked">
        <li><a href="https://twitter.com/mnokeefe">Twitter</a></li>
        <li><a href="mailto:matt@mattokeefe.co.uk">Email</a></li>
        <li><a href="http://uk.linkedin.com/in/mnokeefe">LinkedIn</a></li>
      </ul>
    </header>
    <section class="content" role="main">

      {{ content }}

    </section>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10788074-3']);
      _gaq.push(['_setDomainName', 'mattokeefe.co.uk']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
